<div class="container my-5 d-flex justify-content-center ">
    <div class="card mb-3" style="max-width: 840px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="productObj.productImageUrl"
                    class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{productObj.productName}} </h5>
                    <p class="card-text">{{productObj.productDescription}}</p>
                    <span class="badge rounded-pill bg-success">qty 1</span>
                    <p>$ {{productObj.productPrice}} </p>
                    <p class="card-text"><small class="text-muted">deliveryTimeSpan : {{productObj.deliveryTimeSpan}}</small></p>
                        <p class="text-end pb-0 mb-0"><button 
                            (click)="addtocart(productObj.productId)"
                                class="btn  text-end btn-sm btn-success p-2"><i
                                    class="fa-solid fa-cart-plus fs-5" style="color: #0c0d0d;"></i>
                                Add To Cart</button></p>
                </div>
           
            </div>
        </div>
    </div>
</div>